extends layout

block content
	body.home-page
		.select-room-container.box-container.clearfix
			.inner-padding.clearfix
				img.logo(src='/img/logo.png', width='217', height='239', alt='Logo')
				.clear
				.rooms-block
					h4 Select a room:
					.room-list.hide-inactive
						each room,index in rooms
							- var roomClass = room.online > 0 ? "room-active" : "room-inactive";
							- var word = room.online == 1 ? "user" : "users";
							a(href='/' + room.key, class="#{roomClass}", title="#{room.name}")
								| #{room.name.substr(0,20)}
								span.users-online
									| #{room.online} #{word}
